* @UmairJibran

# Owner for the python folder
/python/ @UmairJibran

# Owner for the addon folder
/addon/ @UmairJibran

# Owner for the web project
/web/ @Umairjibran

# Owner for the node server project
/node-server/ @Umairjibran

# Future owner for documentation files (Markdown)
/*.md @UmairJibran
