[submodule "waltzes-python"]
	path = waltzes-python
	url = git@github.com:umairjibran/waltzes-python
[submodule "waltzes-web-server"]
	path = waltzes-web-server
	url = git@github.com:umairjibran/waltzes-web-server
